.canvas {
  position: relative;
  box-sizing: content-box;
  border: 1px solid black;
}

.rectangle {
  position: absolute;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid black;
}